body {
  margin: 0px;
  /* height: 100% !important; */
  background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%) !important;
}
a {
  text-decoration: underline !important;
}

.App {
  width: 1000px;
  margin: 0 auto;
}

.navigation {
  list-style: none;
  padding-left: 0;
  position:relative;
}

.navigation.center {
  text-align: center;
}

.navigation li {
  display: inline-block;
  padding-right: 20px;
  text-decoration: underline;
}

.navigation li.right {
  position:absolute;
  right: 0px;
  padding-right: 0;
}

h1 {
  font-family: 'VT323', monospace;
  text-align: center;
  font-weight: bold;
  font-size: 40px !important;
  letter-spacing: -3px;
}

.ant-notification {
  right: -700px;
  top: 24px;
  bottom: auto;
  transition: right .5s;
}

.ant-notification.open {
  right: 0px;
  top: 24px;
  bottom: auto;
}

.ant-notification-notice-description {
  padding: 20px 0;
  vertical-align: middle;
}

.ant-notification-notice-description button {
  vertical-align: top;
}

.ant-notification-notice-description .price {
  margin-right: 20px;
  display: inline-block;
  font-size:30px;
}

.ant-notification-notice {
  width: 270px;
}

*, *::before, *::after {
  box-sizing: initial;
}
.selectBox {
  background: rgba(20,30,40,0.3);
  
}
.grid {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */
  box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  border-top: solid rgb(231, 231, 220) 1px;
  border-right: solid rgb(231, 231, 220) 1px;
  background-color: #91d370;
  box-sizing: content-box;
  /* background-image: linear-gradient(319deg, #91d370 0%, #bca0ff 37%, #f2cd54 100%); */

  background: red;
  background: linear-gradient(45deg, orange , yellow, green, cyan, blue, violet);
    /* background: linear-gradient(
        45deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    ); */
}

.user-img {
  width: 10px;
  height: 10px;
  margin: 0;
  display: block;
}
.box {
  width: 9px;
  height: 9px;
  border-left: solid rgb(231, 231, 220) 1px;
  border-bottom: solid rgb(231, 231, 220) 1px;
  /* border: solid rgb(231, 231, 220) 0.5px; */
  margin: 0px;
  background-color: white;
  transition: background-color 3s;
  box-sizing: content-box;
}

.box.box-selected {
  background-color: rgba(255,255,255,0.05);
  /* border-color: rgba(0,0,0,0.3); */
}
.comment {
  color: gray;
  text-align: right;
}
.box.box-selecting {
  background-color: rgba(255,255,255,0.8);
}
html, body {
  height: initial;
}
.box:hover:not(.box-selected) {
  background-color: rgba(255,255,255, 0.5);
  /* border-color: transparent; */
  transition: background-color 0.05s;
}

.main {
  margin-bottom: 20px;
}

/* 
 footer {
  height: 100px;
  position: fixed;
  z-index: 1;
  bottom: 25px;
  background: white;
  width: 1000px;
  left: 50%;
  margin-left: -500px;
  box-shadow: 0px -5px 4px -6px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 14px rgb(0 0 0 / 25%);
  box-sizing: border-box;
} 
*/


.hidden {
  display: none;
}
